<h1>YELP - Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
  <ul>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <li><%= restaurant.category %></li>
    <li><%= restaurant.address %></li>
  </ul>
    <% end %>


 <%= link_to "Create new restaurant", new_restaurant_path, class: "btn btn-primary" %>
